<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultrHref="home" [routerLink]="['/home']"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>addPosts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" [(ngModel)]="post.title" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Details</ion-label>
    <ion-input type="text" [(ngModel)]="post.details" required></ion-input>
  </ion-item>
  <ion-button 
  class="ion-padding" 
  color="primary" 
  (click)="createPost(post)" 
  expand="full"
  >Create Post</ion-button>
 

</ion-content>
